<div class="holder-404">
    <div class="content-404">
        <h1>Whoops! Something went wrong.</h3>
        <p>Our developers are already working to fix the problem.</p>
        <img src="https://static.thenounproject.com/png/417114-200.png">
        <br>
        Return to the <a href="/">home page</a> for now.
    </div>
</div>