<%
    if(!password) {
        var password="";
    }
%>
<form action="/change-password" method="post">
    <div class="form-logo">RECIPES</div>
    <h2 class="text-center">Change Password</h2>
    <div class="form-group">
        <div class="input-group">
            <input type="password" class="form-control" name="password" id="pword" placeholder="New Password (8 or more characters)" required="required" value="<%=password%>">				
        </div>
    </div>
    <% if(shortPassword) { %>
        <div class="form-msg">Password must be at least 8 characters long</div>
    <% } %>
    <div class="clearfix">
        <label class="pull-left checkbox-inline"><input type="checkbox" onclick="togglePassword()"> Show password</label>
    </div>
    <input type="hidden" name="code" value="<%=code%>">
    <input type="hidden" name="codeUser" value="<%=codeUser%>">
    <div class="form-group">
        <button type="submit" class="btn btn-primary login-btn btn-block">Change Password</button>
    </div>
</form>
<script>
    function togglePassword() {
        var x = document.getElementById("pword");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>