<div class="confirm-email">
    <div class="message">
        <h2>Sorry, this email is already taken.</h2>

        <p><a href="/login">Login</a> if you already have an account with this email or <a href="sign-up">sign up</a> with a different one.</p>
    </div>
</div>