<div class="confirm-email">
    <div class="message">
        <h2>Congratulations!</h2>

        <p>Your password has been successfully updated. <a href="/login">Login</a> with your new password to access your account.</p>
    </div>
</div>