<div class="confirm-email">
    <div class="message">
        <h2>Sorry, that link doesn't work</h2>

        <p>The link you used to change your password is broken or has expired. <a href="/forgot-password">Try again</a> by sending a new link.</p>
    </div>
</div>