<div class="holder-404">
    <div class="content-404">
        <h1>That page doesn't exist!</h3>
        <p>Sorry, the page you were looking for could not be found.</p>
        <form class="form-404" id="form-inline" action="/search" method="post">
            <div class="input-group">
                <input type="search" name="search" placeholder="Try searching for something else..." id="search" aria-label="Search"
                    aria-describedby="search-addon">
                <i class="fa fa-search"></i>
            </div>
            <input type="hidden" name="submit_from" value="header">
        </form>
        <p class="return">Or you can return to the <a href="/">home page</a> if you can't find what you are looking for.</p>
    </div>
</div>